[Unit]
Description=Bridge Init Service
Before=dhcpcd.service

[Service]
Type=oneshot
ExecCondition=/bin/bash needs-hostname-update
ExecStart=/bin/bash set-hostname
ExecStartPost=/sbin/reboot
WorkingDirectory=/share/usb-bluetooth-bridge
User=root
Group=root

[Install]
WantedBy=multi-user.target