[Unit]
Description=Bridge Init Service
Before=dhcpcd.service

[Service]
Type=oneshot
ExecStart=/bin/bash set-hostname
WorkingDirectory=/share/usb-bluetooth-bridge
User=root
Group=root

[Install]
WantedBy=multi-user.target